@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Playwrite+ES:wght@100..400&display=swap');
/* Reset CSS Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html{
    height: 100vh;
}
.links{
    position: relative;
    padding: 15px 0px;
    background-color: grey;
    border: 10px solid #333;
}
/* Estilo para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
/*Membrete*/
.membrete {
    padding: 2px 4px;
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.membrete-name>h3 {
    margin: 2px;
}

.membrete-name>h5 {
    margin: 2px;
}

.empresa-info {
    text-align: right;
}

.empresa-info>p {
    margin: 2px;
}

#links-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 

}

/* Estilo para la clase de tarjeta */
.card {
    width: 200px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 4px 4px 4px black;

}

/* Estilo para el botón */
.contenedor-blur button {
    width: 40%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: -1px;
    right: -1.5px;
    transition: background-color 0.3s;
}

.contenedor-blur {
    border-radius: 8px 16px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: calc(35%);
    width: 100%;
    backdrop-filter: blur(10px);
    
}



.contenedor-blur >p {
    font-family: "Playwrite ES", cursive;
    font-weight: 600;
    font-style: normal;
    padding: 8px;
    margin: 8px auto;
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 18px;
    color: #272727;
    text-shadow: 3px 3px 2px #ccc;
}

.contenedor-blur button:hover {
    background-color: #0056b3;
}

/* Cambiar a una sola tarjeta por ancho cuando la pantalla es menor a 700px */
@media screen and (max-width: 700px) {
    .membrete{
        font-size: 14px;
    }
    .card {
        height: 200px;
        gap: 0;
        width: 40%;
        display: block;
    }
    .contenedor-blur > p {
        font-weight: 400;
        position: absolute;
        top: -10px;
        left: 5px;
        font-size: 12px;
        color: #272727;
        text-shadow: 2px 2px 2px #ccc;
    }
    
    .contenedor-blur > button {
        padding: 1px;
        text-align: center;
        top: -.7em;
        left: 25%;
        font-size: 12px;
        width: 50%;
        height: 30%;
    }
}
.borde-interior_superior, .borde-interior_inferior{
    width: 100%;
    height: 20px;
    background-color: grey;
    position: absolute;
}

.borde-interior_superior{
    top: -8px;
    border-radius: 8px;
}
.borde-interior_inferior{
    bottom: -8px;
    border-radius: 8px;
}
/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container p {
    margin: 0 10px;
}
