@import url('https://fonts.googleapis.com/css2?family:MedievalSharp&family:Playwrite+ES:wght@100..400&display:swap');
/* Reset CSS Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html{
    margin: auto;
    
}
body{
    margin: auto;
   width: 100%; 
    border: 5px solid white;
    min-height:100dvh;
}
.links{
    position: relative;
    padding: 15px 0px;
    background-color: grey;
    border: 15px solid #333;
}
/* Estilo para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
/*Membrete*/
.membrete {
    padding: 2px 4px;
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.membrete-name>h3 {
    margin: 2px;
}

.membrete-name>h5 {
    margin: 2px;
}

.empresa-info {
    text-align: right;
}

.empresa-info>p {
    margin: 2px;
}

#links-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 

}

/* Estilo para la clase de tarjeta */
.card {
    background-color: #d6cece;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 4px 4px 4px black;
    cursor: pointer;

}


.contenedor-blur {
    border-radius: 8px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: calc(35%);
    width: 100%;
    background-color: rgba(63, 119, 238, 0.3);
    
}
.plataform{
    
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 20px;
    color: rgb(238, 231, 231);
    background-color: #255cd1;
    position: absolute;
    
    top: 0;
    left: 0 ;
}


.contenedor-blur >p {
    font-family: "Playwrite ES", cursive;
    font-weight: 600;
    font-style: normal;
    padding: 8px;
    margin: 8px auto;
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 20px;
    color: #272727;
    text-shadow: 3px 3px 2px #ccc;
}

.contenedor-blur button:hover {
    background-color: #0056b3;
}

/* Cambiar a una sola tarjeta por ancho cuando la pantalla es menor a 700px */
@media screen and (max-width: 700px) {
    .membrete{
        font-size: 14px;
    }

    .card {
        height: 250px;
        gap: 0;
        width: 250px;
        display: block;
    }
    .contenedor-blur > p {
        font-weight: 800;
        position: absolute;
        top: -10px;
        left: px;
        font-size: 24px;
        color: #272727;
        text-shadow: 2px 2px 2px #ccc;
    }
    
     body{
        width: 100%;
}

}
.borde-interior_superior, .borde-interior_inferior{
    width: 100%;
    height: 20px;
    background-color: grey;
    position: absolute;
}

.borde-interior_superior{
    top: -8px;
    border-radius: 15px;
}
.borde-interior_inferior{
    bottom: -8px;
    border-radius:15px;
}
/* Estilos para el footer */
footer {
    height: 10dvh;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container p {
    margin: 0 15px;
}
/* Estilo por defecto */
.path-red {
    transition: transform 0.3s ease;
    filter: drop-shadow(5px 5px 5px black);
}

.path-blue {
    transition: fill 0.3s ease;
    filter: drop-shadow(5px 5px 5px black);
}

/* Hover animations */
.svg-container:hover .path-red {
    fill: #FF5733; 
}
.svg-container{
    position: absolute;
    top: 20%;
    left: 25%;
    align-items: center;
}
.svg-container:hover {

    animation: 1s ease  forwards scale 1;
}
.svg-text::after {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    content : "Express";
    color: #0056b3;
    font: 2em sans-serif;
    text-shadow: 2px 2px 2px black;
}
.svg-text{
position: absolute;
top:18%;
visibility: hidden;
border-radius: 8px;
padding: 4px;
background-color:rgba(58, 58, 221, 0.1);
}
.svg-container:hover .svg-text{
animation: 1s ease forwards aparecer 0.3s;
}
@keyframes scale{
    0%{}
    to{ scale:1.4;}

}
@keyframes aparecer {
    0%{scale: 0.1;}
    to{ 
        visibility: visible;
        scale: 1.1;}
    
}
.svg-container:hover .path-blue {
    fill: #FF5733; 

}